.indexHeader {
  top: 0;
  width: 100%;
  z-index: 1000;
}
.indexHeader img {
  width: 9rem;
}
.indexHeader button {
  background-color: #d0f4fc;
  border-color: #5fc4fb;
}
@media (min-width: 900px) {
  .indexHeader .navbar-collapse {
    flex-grow: unset !important;
    padding-right: 3rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  background-color: #ffffef;
}

.oscurecer-fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5568627451);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 70vh;
}
.hero p {
  line-height: 15px;
  color: #fff;
}
.hero h2 {
  color: #fff;
  font-size: 20px;
}
.hero .heroTexto {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 3rem;
  margin: 1rem;
}
@media (min-width: 900px) {
  .hero .heroTexto {
    width: 40%;
  }
}

.containerSobreMiTexto {
  display: grid;
}
@media (min-width: 500px) {
  .containerSobreMiTexto {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 20px;
  }
}

.sobreMiHeader {
  display: grid;
  align-items: center;
  margin: 2rem;
  padding: 1.5rem;
}
@media (min-width: 500px) {
  .sobreMiHeader {
    grid-template-columns: repeat(2, 1fr);
  }
  .sobreMiHeader img {
    object-fit: cover;
    padding-bottom: 1rem;
  }
}
@media (min-width: 900px) {
  .sobreMiHeader img {
    max-height: 35rem;
  }
}

.mainSobremi img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.containerSobreMi1 {
  margin-top: 1rem;
}

.mainCardAlbum {
  display: grid;
  gap: 20px;
  padding: 40px;
}
.mainCardAlbum img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 7px;
  margin-bottom: 0.5rem;
}
.mainCardAlbum h3,
.mainCardAlbum h4,
.mainCardAlbum p {
  margin: 0.5rem;
  line-height: 1.2;
}
.mainCardAlbum h4 {
  font-size: 20px;
  line-height: 15px;
  font-weight: 400;
}
@media (min-width: 900px) {
  .mainCardAlbum {
    grid-template-columns: 200px repeat(4, 1fr);
    grid-template-rows: auto auto;
  }
}

.mainCardTitulo {
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
  padding-right: 20px;
  border-bottom: 2px solid #5fc4fb;
}
@media (min-width: 900px) {
  .mainCardTitulo {
    grid-row: 1/3;
    grid-column: 1;
    border-bottom: none;
    border-right: 2px solid #5fc4fb;
  }
}

.cardAlbum {
  border: 2px solid #a4dfff;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 1rem;
  background: #fff;
}
.cardAlbum p {
  margin-top: 1rem;
}
.cardAlbum:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1019607843);
}

.rankingConciertosTitulo {
  padding: 2rem;
  text-align: center;
}

.carousel {
  max-width: 1300px;
  margin: 0 auto;
}

.carousel-img {
  width: 100%;
  object-fit: cover;
  height: 60vh;
  object-position: center;
}

.carousel-caption {
  margin-right: 2rem;
  margin-left: 2rem;
}

.carousel-item img {
  object-fit: cover;
}
@media (min-width: 500px) {
  .carousel-item img {
    height: 400px;
  }
}
@media (min-width: 900px) {
  .carousel-item img {
    padding: 1rem 5rem;
  }
}

.footerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #92bc7a;
  text-align: center;
}
.footerInfo a {
  padding: 1rem;
  justify-content: space-between;
  color: #456a3f;
  text-align: center;
}
.footerInfo h3 {
  padding-top: 0.5rem;
  font-size: 16px;
  height: auto;
  color: #d1fcc9;
}
.footerInfo .contactoMail {
  color: #d1fcc9;
  margin-bottom: auto;
  padding: 0.3rem;
}

body {
  background-color: #ffffef;
}

.indexHeader {
  top: 0;
  width: 100%;
  z-index: 1000;
}
.indexHeader img {
  width: 9rem;
}
.indexHeader button {
  background-color: #d0f4fc;
  border-color: #5fc4fb;
}
@media (min-width: 900px) {
  .indexHeader .navbar-collapse {
    flex-grow: unset !important;
    padding-right: 3rem;
  }
}

.main-fest {
  margin-top: 6rem;
  padding: 1rem;
}

.contentLollapalooza {
  display: flex;
  flex-direction: column;
  background-color: #d0f4fc;
  padding: 1rem;
}
.contentLollapalooza h2 {
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0);
}
.contentLollapalooza h3,
.contentLollapalooza h4 {
  font-weight: 600;
}
.contentLollapalooza p,
.contentLollapalooza h3,
.contentLollapalooza h4 {
  padding: 0rem 1rem;
}

.cardLineupFest img {
  max-width: 95%;
  height: auto;
  border-radius: 7px;
  align-items: center;
  display: block;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.botonContenido {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.botonContenido .btn-instagram {
  display: inline-block;
  padding: 1rem;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background: #5fc4fb;
  background-size: 200% 200%;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.botonContenido .btn-instagram:hover {
  background-position: right center;
  transform: scale(1.05);
}

* {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  font-weight: 800;
  line-height: 26px;
  color: #f360c2;
}

/*# sourceMappingURL=styles.css.map */
