.reviewConcert, .backgroundLineup .contentLineup, .heroContent {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5215686275);
}

.indexHeader {
  top: 0;
  width: 100%;
  z-index: 1000;
}
.indexHeader img {
  width: 9rem;
}
.indexHeader button {
  background-color: #d0f4fc;
  border-color: #5fc4fb;
}
@media (min-width: 900px) {
  .indexHeader .navbar-collapse {
    flex-grow: unset !important;
    padding-right: 3rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  background-color: #ffffef;
}

.hero {
  position: relative;
  height: 70vh;
  background-image: url("../img/Hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.heroContent {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.heroTexto {
  position: relative;
  z-index: 2;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem;
  color: #fff;
}
.heroTexto h2 {
  color: #fff;
}
.heroTexto p {
  line-height: 1.6;
}
@media (min-width: 900px) {
  .heroTexto {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.containerSobreMiTexto {
  display: grid;
}
@media (min-width: 500px) {
  .containerSobreMiTexto {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 20px;
  }
}

.sobreMiHeader {
  display: grid;
  align-items: center;
  margin: 2rem;
  padding: 1.5rem;
}
@media (min-width: 500px) {
  .sobreMiHeader {
    grid-template-columns: repeat(2, 1fr);
  }
  .sobreMiHeader img {
    object-fit: cover;
    padding-bottom: 1rem;
  }
}
@media (min-width: 900px) {
  .sobreMiHeader img {
    max-height: 35rem;
  }
}

.mainSobremi img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.containerSobreMi1 {
  margin-top: 1rem;
}

.mainCardAlbum {
  display: grid;
  gap: 20px;
  padding: 40px;
}
.mainCardAlbum img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 7px;
  margin-bottom: 0.5rem;
}
.mainCardAlbum h3,
.mainCardAlbum h4,
.mainCardAlbum p {
  margin: 0.5rem;
  line-height: 1.2;
}
.mainCardAlbum h4 {
  font-size: 20px;
  line-height: 15px;
  font-weight: 400;
}
@media (min-width: 900px) {
  .mainCardAlbum {
    grid-template-columns: 200px repeat(4, 1fr);
    grid-template-rows: auto auto;
  }
}

.mainCardTitulo {
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
  padding-right: 20px;
  border-bottom: 2px solid #5fc4fb;
}
@media (min-width: 900px) {
  .mainCardTitulo {
    grid-row: 1/3;
    grid-column: 1;
    border-bottom: none;
    border-right: 2px solid #5fc4fb;
  }
}

.cardAlbum {
  border: 2px solid #a4dfff;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 1rem;
  background: #fff;
}
.cardAlbum p {
  margin-top: 1rem;
}
.cardAlbum:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1019607843);
}

.rankingConciertosTitulo {
  padding: 2rem;
  text-align: center;
}

.carousel {
  max-width: 1300px;
  margin: 0 auto;
}

.carousel-img {
  width: 100%;
  object-fit: cover;
  height: 60vh;
  object-position: center;
}

.carousel-caption {
  margin-right: 2rem;
  margin-left: 2rem;
}

.carousel-item img {
  object-fit: cover;
}
@media (min-width: 500px) {
  .carousel-item img {
    height: 400px;
  }
}
@media (min-width: 900px) {
  .carousel-item img {
    padding: 1rem 5rem;
  }
}

.footerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #92bc7a;
  text-align: center;
}
.footerInfo a {
  padding: 1rem;
  justify-content: space-between;
  color: #456a3f;
  text-align: center;
}
.footerInfo h3 {
  padding-top: 0.5rem;
  font-size: 16px;
  height: auto;
  color: #d1fcc9;
}
.footerInfo .contactoMail {
  color: #d1fcc9;
  margin-bottom: auto;
  padding: 0.3rem;
}

.bodyFestivales {
  background-color: #ffffef;
}

.indexHeader {
  top: 0;
  width: 100%;
  z-index: 1000;
}
.indexHeader img {
  width: 9rem;
}
.indexHeader button {
  background-color: #d0f4fc;
  border-color: #5fc4fb;
}
@media (min-width: 900px) {
  .indexHeader .navbar-collapse {
    flex-grow: unset !important;
    padding-right: 3rem;
  }
}

.main-fest {
  margin-top: 6rem;
  padding: 1rem;
}

.contentLollapalooza {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.contentLollapalooza p,
.contentLollapalooza h3,
.contentLollapalooza h4 {
  padding: 0rem 1rem;
}
.contentLollapalooza h3,
.contentLollapalooza h4 {
  padding-top: 1rem;
}
@media (min-width: 500px) {
  .contentLollapalooza {
    max-width: 850px;
    margin: 0 auto;
    padding: 2.5rem;
  }
  .contentLollapalooza h2 {
    font-size: 25px;
  }
  .contentLollapalooza p {
    font-size: 16px;
    line-height: 1.6;
  }
}
@media (min-width: 900px) {
  .contentLollapalooza {
    max-width: 1100px;
  }
  .contentLollapalooza h2 {
    font-size: 28px;
  }
  .contentLollapalooza p {
    font-size: 18px;
    line-height: 1.7;
  }
}

.mainTitulo h2 {
  background-color: #000000;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
}

@media (min-width: 900px) {
  .planImgFest {
    display: flex;
    gap: 1rem;
    width: 33%;
  }
}

.cardLineupFest {
  padding: 0.8rem;
  border-radius: 10px;
}
.cardLineupFest img {
  max-width: 90%;
  height: auto;
  border-radius: 7px;
  display: block;
  margin: 0 auto 1rem auto;
}

.backgroundLineup {
  position: relative;
  background-image: url("../img/backgrnLolla.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.backgroundLineup h3,
.backgroundLineup p {
  color: #fff;
  position: relative;
  z-index: 2;
}
.backgroundLineup::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5490196078);
  z-index: 1;
}
.backgroundLineup .contentLineup {
  position: relative;
  z-index: 2;
}

.lineupRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 900px) {
  .lineupRow {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }
  .lineupRow p {
    flex: 1;
  }
  .lineupRow .imgLineupFest {
    width: 35%;
    height: auto;
  }
}

.imgLineupFest {
  border-radius: 7px;
}

.tablaArtistas {
  overflow-x: auto;
}
.tablaArtistas table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  background-color: #fff;
  table-layout: fixed;
}
.tablaArtistas th {
  font-size: 15px;
  font-weight: 800;
  background-color: #5fc4fb;
  border: 2px solid #5fc4fb;
}
@media (min-width: 900px) {
  .tablaArtistas th {
    font-size: 19px;
  }
}
.tablaArtistas td {
  font-size: 14px;
  padding: 0.5rem;
  border: 2px solid #5fc4fb;
}
@media (min-width: 900px) {
  .tablaArtistas td {
    font-size: 17px;
  }
}

.carouselLolla {
  margin: 0 auto;
}
@media (min-width: 500px) {
  .carouselLolla {
    max-width: 800px;
  }
}
@media (min-width: 900px) {
  .carouselLolla img {
    object-position: top;
    padding: 1rem 2rem;
  }
}

.botonContenido {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.botonContenido .btn-instagram {
  display: inline-block;
  padding: 1rem;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background: #5fc4fb;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.botonContenido .btn-instagram:hover {
  background-position: right center;
  transform: scale(1.05);
}

.bodyConciertos {
  background-color: #ffffef;
}

.main-concert {
  margin-top: 6rem;
}
.main-concert h1 {
  margin: 1rem;
}

.concertHero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 50vh;
}

.hero--badbunny {
  background-image: url("../img/backgrnBadBunny.png");
}

.hero--djo {
  background-image: url("../img/backgrnDjo.jpg");
}

.hero--thelumineers {
  background-image: url("../img/backgrnThelumineers.jpg");
}

.reviewConcert {
  z-index: 1;
}

.heroContentConcert {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 2rem;
}

.mainContent h3 {
  padding-top: 1rem;
}
.mainContent h4 {
  padding-top: 0.5rem;
}

.setlistConciert {
  padding: 1rem;
}

.galeriaConcert {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: #d0f4fc;
  padding: 1rem;
}
.galeriaConcert video,
.galeriaConcert img {
  width: 100%;
  height: auto;
  min-height: 200px;
  display: block;
  border-radius: 1rem;
  aspect-ratio: 16/9;
  object-fit: cover;
}
@media (min-width: 900px) {
  .galeriaConcert {
    grid-template-columns: repeat(3, 1fr);
  }
}

.galeria__item {
  padding: 0rem 1rem;
}

.mejoresMoment {
  background-color: #d0f4fc;
}
.mejoresMoment h3 {
  margin: auto;
  padding-top: 1rem;
  padding-left: 1rem;
}

.comingSoon {
  background-color: #000000;
}
.comingSoon h2 {
  color: #00eaff;
  text-align: center;
  font-size: 20px;
  padding-top: 0.5rem;
}

* {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  font-weight: 800;
  line-height: 26px;
  color: #f360c2;
}

h2 {
  font-weight: 800;
}

h3,
h4 {
  font-weight: 600;
}

/*# sourceMappingURL=styles.css.map */
