* {
    font-family: "Google Sans", sans-serif;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

/* Header */
.indexHeader {
    background-color: #b1ddf2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.indexHeader img {
    width: 9rem;
}

.indexHeader button {
    background-color: #bad2f6;
    border-color: #19323f;
}

/* Hero */
main {
    display: flex;
    flex-direction: column;

    margin-top: 3rem;
    background-color: #ffffef;
}

.oscurecer-fondo {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;

    background-color: #0000008e;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../img/Hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 70vh;
}

.heroTexto {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    padding-top: 3rem;
    margin: 1rem;
}

.hero h1 {
    font-weight: 800;
    line-height: 26px;
    color: #f360c2;
}

.hero p {
    line-height: 15px;
    color: #ffff;
}

.hero h2 {
    color: #ffff;
    font-size: 20px;
}

.containerSobreMiTexto {
    display: grid;
}

.sobreMiHeader {
    display: grid;
    align-items: center;

    margin: 2rem;
    padding: 1.5rem;
}

.mainSobremi img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.containerSobreMi1 {
    margin-top: 1rem;
}

/* MainCard*/
.mainCardAlbum {
    display: grid;
    gap: 20px;
    padding: 40px;
}

.mainCardTitulo {
    font-size: 1.5rem;
    text-align: left;
    margin: 0;
    padding-right: 20px;
    border-bottom: 2px solid #5fc4fb;
}

.mainCardAlbum h3,
.mainCardAlbum h4,
.mainCardAlbum p {
    margin: 0.5rem;
    line-height: 1.2;
}


.mainCardAlbum h4 {
    font-size: 20px;
    line-height: 15px;
    font-weight: 400;
}

.cardAlbum {
    border: 2px solid #a4dfff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 1rem;
    background: #fff;
}

.cardAlbum:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px #0000001a;
}

.cardAlbum img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    border-radius: 7px;
    margin-bottom: 0.5rem;
}

.cardAlbum p {
    margin-top: 1rem
}

.rankingConciertosTitulo {
    padding: 2rem;
    text-align: center;


}

/* Carousel */
.carousel {
    max-width: 1300px;
    margin: 0 auto;
}

.carousel-img {
    height: 60vh;
    object-fit: cover;
    object-position: center;
    width: 100vh;
}

.carousel-caption {
    margin-right: 2rem;
    margin-left: 2rem;
}


/* footer */
.footerInfo {
    background-color: #92bc7a;
    text-align: center;
}

.footerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerInfo a {
    padding: 1rem;
    justify-content: space-between;
    color: #456a3f;
    text-align: center;
}

.footerInfo h3 {
    padding-top: 0.5rem;
    font-size: 16px;
    height: auto;
    color: #d1fcc9;
}

/* Contacto*/
.contactoMail {
    color: #d1fcc9;
    margin-bottom: auto;
    padding: 0.3rem;
}

/* media queries*/
/*iPad*/
@media (min-width: 500px) {
    .sobreMiHeader {
        grid-template-columns: repeat(2, 1fr);
    }

    .sobreMiHeader img {
        object-fit: cover;
        padding-bottom: 1rem;
    }

    .containerSobreMiTexto {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;
        gap: 20px;
    }

    .carousel-item img {
        height: 400px;
        object-fit: cover;

    }
}

/*Desktop*/
@media (min-width: 800px) {

    .navbar-collapse {
        flex-grow: unset !important;
        padding-right: 3rem;
    }

    .sobreMiHeader img {
        max-height: 35rem;
    }
    .heroTexto{
        padding: 25rem;
    }

    .carousel-item {
        padding: 1rem 5rem;
    }

    .carousel-item img {
        justify-content: center;
    }

    .mainCardAlbum {
        grid-template-columns: 200px repeat(4, 1fr);
        grid-template-rows: auto auto;
    }

    .mainCardTitulo {
        grid-row: 1 / 3;
        grid-column: 1;

        border-bottom: none;
        border-right: 2px solid #5fc4fb;
    }

}