// 1. Cargamos las páginas (Sass moderno prefiere @use)
@use "./pages/index";
@use "./pages/festivales";
@use "./pages/conciertos";
@use "./pages/contacto";
@use "./pages/barricadeGuide";

// 2. Estilos globales (si quieres dejarlos aquí, deben ir al final)
* {
    font-family: "Google Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}