@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extends";

hr{
  border:none;
  height:1px;
  background:#000;
  opacity:0.2;
  margin:3rem 0;
}

.heroBarricade {
    display: flex;
    flex-wrap: nowrap;

    width: 100%;
    overflow: hidden;
    gap: 1px;

    img {
        width: 20%;
        height: 30vh;
        object-fit: cover;
        display: block;
    }
}

.textoHeroBarricade {
    p {
        font-size: 8px;
    }
}

.disclaimerBarricade {
    p {
        padding: 0rem 2rem;
        font-size: 18px;
        font-weight: 100;
        width: 80%;
    }

    .textoDestacado {
        font-style: italic;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 1.5px;
    }
}

.previaBarricade{
    padding: 2rem;
}

.textoPunteo{
font-size: 14px;
}

.imagenDefault {
    @include mixins.centrar-contenido;

    img{
    width: 80%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 12px;
    }
}