@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extends";

//Header 
.bodyConciertos {
    background-color: variables.$colorBeigeFondo;
}

.main-concert {
    margin-top: 6rem;

    h1{
        margin: variables.$espaciado-base;
    }
}

//Hero
.bdBunnyHero {
    @include mixins.centrar-contenido;
    flex-direction: column;
    gap: variables.$espaciado-base;

    background-image: url("../img/backgrnBadBunny.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    height: 50vh;
}
.reviewBdBunny {
    @extend %oscurecerFondo;
    z-index: 1;
}

.heroContentBdBunny{
    position: relative;
    z-index: 2;
    color: variables.$colorBlanco;
    padding: 2rem;
}

//ContentbadBunny
.bdBunnyContent{
    padding: variables.$espaciado-base;

    h3{
        padding-top: variables.$espaciado-base;
    }
    h4{
        padding-top: 0.5rem;
    }
}

.galeriaBdBunny {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    video,
    img {
        width: 100%;
        height: auto;
        min-height: 200px;
        display: block;
        border-radius: 1rem;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    @media (min-width: variables.$bp-desktop) {
        grid-template-columns: repeat(3, 1fr);
    }
}