@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extends";

//Header 
.bodyConciertos {
    background-color: variables.$colorBeigeFondo;

    @media (min-width: variables.$bp-ipad) {
        p {
            font-size: 16px;
        }
    }

    @media (min-width: variables.$bp-desktop) {
        h1 {
            padding-bottom: variables.$espaciado-base;
        }

        p {
            font-size: 18px;
        }
    }
}

.main-concert {
    margin-top: 6rem;

    h1 {
        margin: variables.$espaciado-base;
    }
}

//Hero
.concertHero {
    @include mixins.centrar-contenido;
    flex-direction: column;
    gap: variables.$espaciado-base;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    height: 50vh;
}

.hero--badbunny {
    background-image: url("../img/backgrnBadBunny.png");
}

.hero--djo {
    background-image: url("../img/backgrnDjo.jpg");
}

.hero--thelumineers {
    background-image: url("../img/backgrnThelumineers.jpg");
}



.reviewConcert {
    @extend %oscurecerFondo;
    z-index: 1;
}

.heroContentConcert {
    position: relative;
    z-index: 2;
    color: variables.$colorBlanco;
    padding: 2rem;
    gap: 2rem;

    @media (min-width: variables.$bp-desktop) {
        width: 45%;
        @include mixins.centrar-contenido;
    }
}

//ContentbadBunny
.mainContent {

    h3 {
        padding-top: variables.$espaciado-base;
    }

    h4 {
        padding-top: 0.5rem;
    }
}

.setlistConcert {
    padding: variables.$espaciado-base;

    @media (min-width: variables.$bp-ipad) {
        margin: 0rem 2rem;
    }

    @media (min-width: variables.$bp-desktop) {
        margin: 0rem 15rem;
    }
}

.galeriaConcert {
    display: grid;
    grid-template-columns: 1fr;
    gap: variables.$espaciado-base;
    background-color: variables.$colorCelesteFondo;
    padding: 1.7rem;

    video,
    img {
        width: 100%;
        height: auto;
        min-height: 200px;
        display: block;
        border-radius: 1rem;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    @media (min-width: variables.$bp-ipad) {
        padding: 2rem;
    }

    @media (min-width: variables.$bp-desktop) {
        grid-template-columns: repeat(3, 1fr);

    }
}

.galeria__item {
    padding: 0rem variables.$espaciado-base;

}

.mejoresMoment {
    background-color: variables.$colorCelesteFondo;

    h3 {
        margin: auto;
        padding-top: 1rem;
        padding-left: 1rem;
    }
    @media (min-width: variables.$bp-desktop){
    padding: 1rem 6rem;
    }
}

.comingSoon {
    background-color: #000000;
    overflow: hidden;

    h4 {
        color: variables.$colorBlanco;
        white-space: nowrap;
        padding-top: 0.5rem;
        font-size: 12px;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 0.2rem;

        animation: moverTexto 13s linear infinite;
    }
}

@keyframes moverTexto {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}


.botonMejorConcierto {
    text-align: center;
    padding: variables.$espaciado-base;

    @media (min-width: variables.$bp-ipad) {
        margin: 0rem 2rem;
    }

    .botonContenido {
        padding-bottom: variables.$espaciado-base;
    }
}