@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extends";

//Header 
.bodyConciertos {
    background-color: variables.$colorBeigeFondo;
}

.main-concert {
    margin-top: 6rem;

    h1 {
        margin: variables.$espaciado-base;
    }
}

//Hero
.concertHero {
    @include mixins.centrar-contenido;
    flex-direction: column;
    gap: variables.$espaciado-base;

    background-image: url("../img/backgrnBadBunny.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    height: 50vh;
}

.reviewConcert {
    @extend %oscurecerFondo;
    z-index: 1;
}

.heroContentConcert {
    position: relative;
    z-index: 2;
    color: variables.$colorBlanco;
    padding: 2rem;
}

//ContentbadBunny
.bdBunnyContent {

    h3 {
        padding-top: variables.$espaciado-base;
    }

    h4 {
        padding-top: 0.5rem;
    }
}

.setlistConcierto {
    padding: variables.$espaciado-base;
}

.galeriaBdBunny {
    display: grid;
    grid-template-columns: 1fr;
    gap: variables.$espaciado-base;
    background-color: variables.$colorCelesteFondo;
    padding: 1rem;

    video,
    img {
        width: 100%;
        height: auto;
        min-height: 200px;
        display: block;
        border-radius: 1rem;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    @media (min-width: variables.$bp-desktop) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.galeria__item{
    padding: 0rem variables.$espaciado-base;
    
}

.mejoresMoment {
    background-color: variables.$colorCelesteFondo;

    h3{
        margin: auto;
        padding-top: 1rem;
        padding-left: 1rem;
    }
}