@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/extends";

//Header 
.bodyFestivales {
    background-color: variables.$colorBeigeFondo;
}

.indexHeader {
    top: 0;
    width: 100%;
    z-index: 1000;

    img {
        width: 9rem;
    }

    button {
        background-color: variables.$colorCelesteFondo;
        border-color: variables.$colorCelesteOsc;
    }

    @media (min-width: variables.$bp-desktop) {
        .navbar-collapse {
            flex-grow: unset !important;
            padding-right: 3rem;
        }
    }
}

//main
.main-fest {
    margin-top: 6rem;
    padding: variables.$espaciado-base;
}

.contentLollapalooza {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    h2 {
        font-weight: 800;
    }

    h3,
    h4 {
        font-weight: 600;
    }

    p,
    h3,
    h4 {
        padding: 0rem 1rem;
    }

    h3,
    h4 {
        padding-top: variables.$espaciado-base;
    }

    @media (min-width: variables.$bp-ipad) {
        max-width: 850px;
        margin: 0 auto;
        padding: 2.5rem;

        h2 {
            font-size: 25px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
        }
    }

    @media (min-width: variables.$bp-desktop) {
        max-width: 1100px;

        h2 {
            font-size: 28px;
        }

        p {
            font-size: 18px;
            line-height: 1.7;
        }
    }
}

.mainTitulo {
    h2 {
        background-color: #000000;
        color: variables.$colorBlanco;
        display: inline-block;
        padding: 0.5rem 1rem;
    }
}

.planImgFest {
    @media (min-width: variables.$bp-desktop) {

        display: flex;
        gap: 1rem;
        width: 33%;
    }
}

.cardLineupFest {
    padding: 0.8rem;
    border-radius: 10px;

    img {
        max-width: 90%;
        height: auto;
        border-radius: 7px;
        display: block;
        margin: 0 auto 1rem auto;
    }
}

.backgroundLineup {
    position: relative;
    background-image: url("../img/backgrnLolla.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    h3,
    p {
        color: variables.$colorBlanco;
        position: relative;
        z-index: 2;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: #0000008c;
        z-index: 1;
    }

    .contentLineup {
        position: relative;
        z-index: 2;
    }
}

.lineupRow {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: variables.$bp-desktop) {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        padding: 2rem;

        p {
            flex: 1;
        }

        .imgLineupFest {
            width: 35%;
            height: auto;
        }
    }
}

.imgLineupFest {
    border-radius: 7px;
}



.tablaArtistas {
    overflow-x: auto;

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        background-color: variables.$colorBlanco;
        table-layout: fixed;
    }

    th {
        font-size: 15px;
        font-weight: 800;
        background-color: variables.$colorCelesteOsc;
        border: 2px solid variables.$colorCelesteOsc;

        @media (min-width: variables.$bp-desktop) {
            font-size: 19px;
        }
    }

    td {
        font-size: 14px;
        padding: 0.5rem;
        border: 2px solid variables.$colorCelesteOsc;

        @media (min-width: variables.$bp-desktop) {
            font-size: 17px;
        }
    }
}

.carouselLolla {
    margin: 0 auto;

    @media (min-width: variables.$bp-ipad) {
        max-width: 800px;
    }

    img {
        @media (min-width: variables.$bp-desktop) {
           object-position: top;
           padding: 1rem 2rem;
        }
    }
}

.botonContenido {
    @include mixins.centrar-contenido;
    margin-top: variables.$espaciado-base;

    .btn-instagram {
        display: inline-block;
        padding: variables.$espaciado-base;
        border-radius: 30px;
        font-weight: 600;
        text-decoration: none;
        color: variables.$colorBlanco;
        background: variables.$colorCelesteOsc;
        transition: all 0.3s ease;
        box-shadow: 0 4px 15px #00000033;

        &:hover {
            background-position: right center;
            transform: scale(1.05);
        }
    }

}