//colores
$colorBlanco: #fff;
$grisClaro: #f8f8f8;
$colorBeigeFondo: #ffffef;
$colorCelesteFondo: #d0f4fc;
$colorCelesteIntr: #a4dfff;
$colorCelesteOsc: #5fc4fb;
$colorRosadoPrincipal: #f360c2;
$colorNavbar: #d1e7de;
$colorVerdeCla:#d1fcc9;
$colorVerdeIntr:#92bc7a;
$colorVerdeOsc:#456a3f;


//responsive
$bp-ipad: 500px;
$bp-desktop: 900px;


$espaciado-base: 1rem;